@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    background-color: #0c0b18;
    font-family: 'Abel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 5px;
}
.main {
    background-color: transparent;
    margin: 10vw;
}
.logo {
    animation-name: fadeIn;
    animation-duration: 2s;
    margin-bottom: 20px;
}
.album {
    animation-name: fadeIn;
    animation-duration: 3s;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer {
    animation-name: fadeIn;
    animation-duration: 4s;
    color: #fff;
    font-size: 32px;
}

.fa-w-16 {
    margin-right: 20px;
}
.backdrop {
    animation-name: fadeIn;
    animation-duration: 1s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d5;
    z-index: 10;
    overflow: hidden;
}
.loader {
    color: #ffffff;
    font-size: 64px;
}
.close {
    color: #ffffff;
    font-size: 32px;
    cursor: pointer;
    margin-left: 20px;
}
.album-description {
    animation-name: slideIn;
    animation-duration: 1s;
    text-align: right;
    justify-items: right;
    max-width: 500px;
    min-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
.embed {
    animation-name: fadeIn;
    animation-duration: 4s;    
}
.modal {
    color: #ffffff;
    margin: 20vh 15vw 5vh 15vw;
}
a {
    color: #ffffff;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes fadeIn	{
	from { opacity: 0;}
	to { opacity: 1; }
}
@keyframes slideIn	{
	from { margin-left: -200px; opacity: 0;}
	to { margin-left: 20px; opacity: 1; }
}

@media all and (max-width: 1024px) {
    .album-description {
        display: none;
    }
    .main {
        margin: 2vw;
    }
    .modal {
        margin: 10vh 5vw 5vh 5vw;
    }
}